
/* 모든 요소의 css 기본 설정 초기화 하기 위한 선택자 */
* {
    margin: 0;
    padding: 0;
    /* 여백 까지 박스 사이즈에 포함 하기  */
    box-sizing: border-box;
    /* 리스트 요소의 스타일을 없앤다. (기본 : 점) */
    list-style: none;
    font-size: 10px;
  }
  
  a {
    /* 앵커 태그의 text 스타일을 없앤다. */
    text-decoration: none;
    /* 글자색 설정 */
    color: black;
  }
  
  /* header 태그 안에 CSS 속성 */
  header {
    display: flex;
    justify-content:space-between;
    height: 70px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    /* 배경색 설정 */
    background-color: white;
    /* 글자색 설정 */
    color: black;
    line-height: 70px;
    padding: 0px 30px;
  }
  
  form input {
    padding: 5px;
    border-radius: 5px;
  }

  .title-size {
    font-size: 25px;
    color: gray;
  }

  .header_nav_menuitem {
	display: inline-block;
	margin-right: 20px;
	height: 70px;
	line-height: 70px;
	align-items: center;
  }

  .category {
    margin: 10px;
    text-align: center;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .container {
    border: 3px solid rgb(171, 169, 169, 0.7);
    width: 300px;
    height: 250px;
    margin: auto;

  }

  h1{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .container input, #restaurants{
    display: block;
    width: 200px;
    margin-bottom: 10px;
    height: 25px;
  }
 
  .specific-content {
    margin: 50px;
    text-align: center;
  }

  .reserveForm{
    margin-left: 15%;
  }
  p{
    font-size: 23px;
    font-weight: bold;
    color: rgb(70, 109, 124);
    margin-top: 30px;
    text-align: center;
  }
  .reserve-list-ul{
    margin: auto;
    width: 50%;
    height: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 4px solid lightblue;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(68, 66, 66);
    text-align: center;
    line-height: 30px;
  }
  .reserve-list-ul li{
    font-size: 17px;
  }
  .specific-content img {
    width: 50%;
  }

  .store_item {
    display: flex;
    justify-content: space-around;
  }

  .store_item li {
	padding: 10px 10px 10px 20px;
	font-size: 18px;
	margin-top: 5px;
	border-radius: 5px;
	text-align: left;
  }

  .store_item img {
    width: 100%;
    height: 50%;
  }
  
  /* form 클래스 하위의 input 요소 css 설정을 위한 선택자 */
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  /* form 클래스 하위의 button 요소 css 설정을 위한 선택자 */
  .form button {
    margin: 0 0 15px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #53e3a6;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  
  /* form 클래스 하위의 button 의 상태에 따른 css 설정을 위한 선택자 : 마우스 포인터가 해당 요소에 들어오거나 나간 상태, 활성화 된 상태, 포커싱된 상태 */
  form button:active,
  form button:hover,
  form button:focus {
    background: #50a3a2;
  }
  
  
  
  /* footer 태그 안에 CSS 속성 */
  footer {
    position: absolute;
    bottom: 0;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 70px;
    line-height: 70px;
  }

  .footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    color: gray;
  }

  footer li {
    margin-left: 10px;
  }
  
